---
layout: landingpage
categories: organisatie
title: Organisatie
excerpt: "De Nederlandse Frisbee Bond staat voor de frisbeesporten in Nederland. De sport wordt georganiseerd door vrijwilligers, vooral de spelers zelf. Net als bij de sporten staat fair-play voroop. Binnen de bond zijn afspraken, iedere vrijwilliger krijgt de verantwoordelijkheid zijn rol te spelen en onderlinge feedback wordt aangemoedigd. Open cultuur. Ook bij organiseren staat het plezier voorop."
image:
    feature: organisatie.jpg
    credit: A friend
---

<section class="s-landing">
    <div class="container">
        <div class="grid">
    <h2 class="ls-title">De organisatie</h2>
    <img class="ls-image">
    <p class="ls-text">Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem.  </p>
        </div></div>
</section>

<section class="s-landing">
    <div class="container"> <div class="grid">
    <h2 class="ls-title">Wie zijn de NFB</h2>
        
    <a href="kader/" class="landing-button">Kaderoverzicht...</a>
    <div class="ls-image"></div>
    </div></div>
</section>

<section class="s-landing">
    <div class="container"> <div class="grid">
    <h2 class="ls-title">Verenigingsinformatie</h2>
    <img class="ls-image"></p>
    <p class="ls-text">Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. </p>
    <a href="verenigingen/" class="landing-button">Nationaal team...</a>
    </div></div>
</section>

<section class="s-landing">
    <div class="container"> <div class="grid">
    <h2 class="ls-title">Documenten en plannen</h2>
    <p class="ls-text">Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. </p>
    <div class="ls-image"></div>
    <a href="beleid/" class="landing-button">Naar verenigingsinformatie...</a>
    </div></div>
</section>

<section class="s-landing">
    <div class="container"> <div class="grid">
    <h2 class="ls-title">Opleidingen</h2>
    <p class="ls-text">Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. </p>
    <a href="opleidingen/" class="landing-button">Naar opleidingen...</a>
    <div class="ls-image"></div>
    </div></div>
</section>

<section class="s-landing">
    <div class="container"> <div class="grid">
    <h2 class="ls-title">Concepten en activiteiten</h2>
    <img class="ls-image"></p>
    <p class="ls-text">Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. </p>
    <a href="concepten/" class="landing-button">Concepten...</a>
    </div></div>
</section>

<section class="s-landing">
    <div class="container"> <div class="grid">
    <h2 class="ls-title">Pers</h2>
    <img class="ls-image"></p>
    <p class="ls-text">Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. </p>
    <a href="pers/" class="landing-button">Pers...</a>
    </div></div>
</section>

<section class="s-landing">
    <div class="container"> <div class="grid">
    <h2 class="ls-title">Sponsoring</h2>
    <img class="ls-image"></p>
    <p class="ls-text">Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. </p>
    <a href="sponsoring/" class="landing-button">Sponsoring...</a>
    </div></div>
</section>
<!--
<div class="home">

  <h1 class="page-heading">Organisatie</h1>

   <h2>Quick links</h2>
    <ul><li><a href="{{ site.baseurl }}/organisatie/pers/">Pers</a></li>
        <li><a href="{{ site.baseurl }}/organisatie/kader/">Kader</a></li>
    <li><a href="{{ site.baseurl }}/organisatie/beleid/">Beleid</a></li>
    <li><a href="{{ site.baseurl }}/organisatie/concepten/">Concepten</a></li>
        <li><a href="{{ site.baseurl }}/organisatie/nieuws/">Nieuws</a></li>
    </ul>
    
    <ul class="post-list">
    {% assign people = site.data.people %}

    {% for person in people %}
      <li>
          {% if person[1].image %}
          <img src="{{ site.baseurl }}/assets/images/people/{{ person[1].image }}">
          {% endif %}
      </li>
    {% endfor %}
  </ul>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
-->