{% if sitesection == 'section-ultimate' %}
    {% assign logoimage = 'logo_ultimate.png' %}
    {% assign logourl = 'ultimate' %}
{% elsif sitesection == 'section-discgolf' %}
    {% assign logoimage = 'logo_discgolf.png' %}
    {% assign logourl = 'discgolf' %}
{% else %}
    {% assign logoimage = 'logo_nfb_2kdark24.png' %}
    {% assign logourl = 'organisatie' %}
{% endif %}

<section class="s-intro-small">
   <div class="hero-wash"></div>
   
    {% include simple-search.html %}
    {% include simple-menu.html %}
    
    <div class="container">
        <div class="grid">
            <div class="hero-content">
               
                <div class="site-logo-topleft">
                    <a href="{{ site.url }}{{ logourl }}"  rel="home" title="{{ site.title }}">
                        <img src="{{ site.url }}/images/{{ logoimage }}"  alt="{{ site.title }} logo" class="animated bounceInDown">   
                    </a>
                </div> 
            
                <ul class="top-icons">
                    <li class="top-icon top-icon-menu domenu"></li>
                    <li class="top-icon top-icon-search dosearch"></li>
                </ul>
            </div>
        </div>
    </div>
    
      {% include fb_section_bottom.html fill="#ffffff" %}
  
</section>

<div class="container">
    <div class="grid">
        <h1>{{ page.title }}</h1>
    </div>
</div>

{% if page.image.credit %}<p class="image-credit">Foto door <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a>{% endif %}

<div class="menu-screen"></div>