
<section class="s-newsletter obliqueCut">
     
     <svg xmlns="http://www.w3.org/2000/svg" style="top: 0px; left 0;" version="1.1" class="separator" viewBox="0 0 100 100" preserveAspectRatio="none">
                <path d="M0 100 L100 0 L0 0 Z"></path>
            </svg>  
    
    <div class="container">
        <h2>Nieuwsbrief</h2>
        <div class="subtitle">Blijf op de hoogte van alles.</div>
        <p>Dit is een heel goed idee. Er staat heel veel nieuws in. Verschijnt niet vaak. En we beloven je niet te spammen.</p>
        <a href="" class="button"></a>
    </div>
  
      <svg xmlns="http://www.w3.org/2000/svg" style="bottom: 0px; left 0;" version="1.1" class="separator" viewBox="0 0 100 100" preserveAspectRatio="none">
                <path style="fill: #222222;" d="M0 100 L100 0 L100 100 Z"></path>
          <!--path style="fill: #222222;" d="M0,0 C20,30 35,45 100,0 Z"></path-->
          
    </svg>
</section>