<svg class="separator-wide" xmlns="http://www.w3.org/2000/svg" style="bottom: -1px; left 0;" version="1.1"  viewBox="0 0 100 100" preserveAspectRatio="none">
    <path style="fill: {{ include.fill }};" d="M0 100 L100 0 L100 100 Z"></path>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" style="bottom: -1px; left 0;" version="1.1" class="separator-narrow" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path style="fill: {{ include.fill }};" d="M0 100 L100 0 L100 100 Z"></path>
    <!--path style="fill: #222222;" d="M0,0 C20,30 35,45 100,0 Z"></path-->
</svg>