<div class="sharing sharing-vertical">
  <a href="https://twitter.com/intent/tweet?hashtags={{ page.tags | join: ',' | remove: ' ' }}&amp;text={{ page.title | escape | replace:' ','%20' }}&amp;url={{ site.url }}{{ page.url }}{% if author.twitter %}&amp;via={{ author.twitter }}{% endif %}" class="twitter" title="Share on Twitter" itemprop="Twitter"><i class="fa fa-twitter"></i> Tweet</a>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" class="facebook" title="Share on Facebook" itemprop="Facebook"><i class="fa fa-facebook"></i> Share</a>
  <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" class="gplus" title="Share on Google Plus" itemprop="GooglePlus"><i class="fa fa-google-plus"></i> Post to G+</a>
</div>
