---
layout: landingpage
categories: ultimate
title: Ultimate
image:
    feature: hero-ultimate.jpg
    wash-opacity: 0.2
excerpt: "Ultimate is de meest beoefende teamsport onder de frisbeesporten. Het is een van de snelst groeiende sporten ter wereld. De sport vereist atletisch vermogen, tactisch
inzicht, zelfbeheersing en teamspirit. Deze combinatie maakt het tot de ultieme sport. Vandaar de naam: Ultimate."
ghost-buttons:
    - url: /ultimate/speel
      title: Speel ultimate
      alt: Speel ultimate
---

<section class="s-landing">
    <div class="container">
        <div class="grid">
    <h2 class="ls-title">Outdoor, Beach, Indoor</h2>
    <img class="ls-image">
    <p class="ls-text">
        Ultimate speel je op gras met twee teams van elk zeven spelers en één schijf. Aan beide zijden van het veld vind je een doelgebied, de endzone. Elk team verdedigt een endzone. Je kunt een punt scoren door de schijf te gooien naar een teamgenoot die hem moet vangen in de endzone van de tegepartij. Als je tijdens het spel de schijf hebt mag je er niet mee lopen, je moet overspelen naar een medespeler. Er is ook een 5-tegen-5 variant in de zaal, net als op het strand. In beide gevallen is het veld wat kleiner.

        </p>
    </div>
    </div>
</section>

<section class="s-landing">
    <div class="container">
        <div class="grid">
    <h2 class="ls-title">Nationale teams</h2>
        <p class="ls-text">Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. </p>
    <a class="arrow-link" href="nationaleteams/" class="landing-button">De teams...</a>
    <div class="ls-image"></div>
    </div>
        </div>
</section>

<section class="s-landing">
    <div class="container">
        <div class="grid">
    <h2 class="ls-title">Jeugd</h2>
    <img class="ls-image"></p>
    <p class="ls-text">Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. </p>
    <a class="arrow-link"  href="jeugd/" class="landing-button">Meer jeugd...</a>
    </div>
    </div>
</section>

<section class="s-landing">
    <div class="container">
        <div class="grid">
    <h2 class="ls-title">Spirit of the Game</h2>
    <p class="ls-text">
In de frisbeesport bestaat geen scheidsrechter waar je je achter kunt
verschuilen. Je kunt alleen winnen als je werkelijk beter bent. Dit wordt
Spirit of the Game genoemd:
        <ul>
<li>niemand breekt de regels opzettelijk</li>
<li>wordt een regel gebroken, dan gaat het spel door zoals het was gegaan</li>
als de regel niet gebroken was
<li>speel competitief, maar niet ten koste van wederzijds respect, de spelregels, en de lol van het spel</li>
            </ul>
    </p>
    <div class="ls-image"></div>
    </div>
        </div>
</section>

<section class="s-landing">
    <div class="container">
        <div class="grid">
    <h2 class="ls-title">Competitie</h2>
    <p class="ls-text">Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. </p>
    <a class="arrow-link"  href="http://www.leaguevine.com" class="landing-button">Naar leaguevine...</a>
    <div class="ls-image"></div>
    </div></div>
</section>

<section class="s-landing">
    <div class="container">
        <div class="grid">
    <h2 class="ls-title">Speel Ultimate</h2>
    <img class="ls-image"></p>
    <p class="ls-text">Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. </p>
    <a class="arrow-link" href="jeugd/" class="landing-button">Speel ultimate...</a>
    </div>
    </div>
</section>

<section class="s-landing">
    <div class="container">
        <div class="grid">
    <h2 class="ls-title">Nieuws</h2>
    <p class="ls-text">Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. </p>
    <a class="arrow-link" href="nieuws/" class="landing-button">Nieuws...</a>
    <div class="ls-image"></div>
    </div>
        </div>
</section>




<!--
<div class="home">

  <h1 class="page-heading">Ultimate</h1>

    <h2>Quick links</h2>
    <ul><li><a href="{{ site.baseurl }}/ultimate/competitie/">Competitie</a></li>
        <li><a href="{{ site.baseurl }}/ultimate/nationaleteams/">Nationale teams</a></li>
    <li><a href="{{ site.baseurl }}/ultimate/nieuws/">Nieuws</a></li>
    <li><a href="{{ site.baseurl }}/ultimate/jeugd/">Jeugd</a></li>
        <li><a href="{{ site.baseurl }}/ultimate/play/">Play</a></li>
        <li><a href="{{ site.baseurl }}/ultimate/community/">Community</a></li>
    </ul>
    <h2>Nieuws</h2>
  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.categories contains 'ultimate' %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
    
    <p>
    <img class="aligncenter size-full wp-image-6158" src="http://paper-leaf.com/wp-content/uploads/2014/09/light-bulb-moment.jpg" alt="lightbulb" width="745" height="497">
    </p>
  

</div>
-->
