---
layout: landingpage
categories: ultimate
title: Ultimate
image:
    feature: anderespelen.jpg
    wash-opacity: 0.2
ghost-buttons:
    - url: /ultimate/speel
      title: Speel ultimate
      alt: Speel ultimate
---

<section class="s-landing">
    <div class="container">
        <div class="grid">
    <h2 class="ls-title">Outdoor, Beach, Indoor</h2>
    <img class="ls-image"></p>
    <p class="ls-text">Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. </p>
    </div>
    </div>
</section>

<section class="s-landing">
    <div class="container">
        <div class="grid">
    <h2 class="ls-title">Nationale teams</h2>
        <p class="ls-text">Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. </p>
    <a href="nationaleteams/" class="landing-button">De teams...</a>
    <div class="ls-image"></div>
    </div>
        </div>
</section>

<section class="s-landing">
    <div class="container">
        <div class="grid">
    <h2 class="ls-title">Jeugd</h2>
    <img class="ls-image"></p>
    <p class="ls-text">Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. </p>
    <a href="jeugd/" class="landing-button">Meer jeugd...</a>
    </div>
    </div>
</section>

<section class="s-landing">
    <div class="container">
        <div class="grid">
    <h2 class="ls-title">Spirit of the Game</h2>
    <p class="ls-text">Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. </p>
    <div class="ls-image"></div>
    </div>
        </div>
</section>

<section class="s-landing">
    <div class="container">
        <div class="grid">
    <h2 class="ls-title">Competitie</h2>
    <p class="ls-text">Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. </p>
    <a href="http://www.leaguevine.com" class="landing-button">Naar leaguevine...</a>
    <div class="ls-image"></div>
    </div></div>
</section>

<section class="s-landing">
    <div class="container">
        <div class="grid">
    <h2 class="ls-title">Speel Ultimate</h2>
    <img class="ls-image"></p>
    <p class="ls-text">Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. </p>
    <a href="jeugd/" class="landing-button">Speel ultimate...</a>
    </div>
    </div>
</section>

<section class="s-landing">
    <div class="container">
        <div class="grid">
    <h2 class="ls-title">Nieuws</h2>
    <p class="ls-text">Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. </p>
    <a href="nieuws/" class="landing-button">Nieuws...</a>
    <div class="ls-image"></div>
    </div>
        </div>
</section>




<!--
<div class="home">

  <h1 class="page-heading">Ultimate</h1>

    <h2>Quick links</h2>
    <ul><li><a href="{{ site.baseurl }}/ultimate/competitie/">Competitie</a></li>
        <li><a href="{{ site.baseurl }}/ultimate/nationaleteams/">Nationale teams</a></li>
    <li><a href="{{ site.baseurl }}/ultimate/nieuws/">Nieuws</a></li>
    <li><a href="{{ site.baseurl }}/ultimate/jeugd/">Jeugd</a></li>
        <li><a href="{{ site.baseurl }}/ultimate/play/">Play</a></li>
        <li><a href="{{ site.baseurl }}/ultimate/community/">Community</a></li>
    </ul>
    <h2>Nieuws</h2>
  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.categories contains 'ultimate' %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
    
    <p>
    <img class="aligncenter size-full wp-image-6158" src="http://paper-leaf.com/wp-content/uploads/2014/09/light-bulb-moment.jpg" alt="lightbulb" width="745" height="497">
    </p>
  

</div>
-->
