.top-icons {
    list-style: none;
}

.top-icon {
    z-index: 9;
    cursor: pointer;
    font-size: 38px;
    color: #fff;
    background-color: $nfb-orange;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 35px;
}

.top-icon:hover {
    background-color: $nfb-orange-light;
}

.top-icon-menu {
    background: url('/images/icon_menu_trigger.png') center center $nfb-orange no-repeat;
    right: 35px;
}

.top-icon-search {
    background: url('/images/icon_search_trigger.png') center center $nfb-orange no-repeat;
    right: 97px;
}

