---
layout: page
categories: discgolf
title: Speel Disc Golf
---

<div class="container"><div class="grid">
Disc Golf is de frisbeevariant van golf. In plaats van met een balletje en golfclub wordt dit spel gespeeld met een frisbee. De speler moet een bepaald traject in zo min mogelijk worpen afleggen. Heel veel termen die bij gewoon golf worden gebruikt, komen ook bij Disc Golf voor. Bijvoorbeeld tee, hole, hole in one, putt, approach, birdie, par, drive.
Disc Golf wordt vaak gespeeld in een park waar hindernissen zoals bomen en waterpartijen omzeild moeten worden. Het is een recreatiespel in de 'vrije' natuur, geschikt voor alle leeftijdscategorieën, ieders vaardigheidsniveau en voor ieders portemonnee.
  

</div></div>

<section>
    Verenigingen
Op korte termijn zal er een aantal clubs speciaal voor Disc Golf-spelers worden opgericht, waarbij men zich dan kan aansluiten. Als je zo'n vereniging wilt oprichten, meld je dan bij de Werkgroep Disc Golf aan. Zij willen je zeker daarmee helpen.
Parcoursen
Er zijn vier openbare Disc Golf parcoursen : het Sloterpark in Amsterdam, het Roel Langerak Park in Rotterdam en Park Oudegein in Nieuwegein. In IJsselstein staan ook een paar 'pole holes', bij Het Podium. Daar kun je altijd met je eigen schijven terecht om te spelen. De toegang is gratis.
Wil je fanatieker aan de slag ? Er worden geregeld locale beginnerscursussen georganiseerd. Meer info vind je in de agenda van de Nederlandse Frisbee Bond.
Uiteraard is er een Nederlandse Disc Golf competitie waar je aan mee kunt doen. Meer info kun je krijgen bij onze Werkgroep Disc Golf. Of spreek andere spelers aan die je op het parcours tegenkomt. Zij weten namelijk welke wedstrijden er allemaal zijn. Kun je meteen ook even vragen hoe het ook alweer in elkaar zit met al die verschillende frisbees die je kunt gebruiken.
Zelf een parcours maken
Natuurlijk kun je ook in je eigen park terecht. Dan kies je gewoon een boom of lantaarnpaal uit als hole. Binnenkort komen we hopelijk met een service waarmee je informatie hierover met elkaar kunt delen.
Een parcours aanleggen in jouw gemeente
Als je een vast parcours zou willen aanleggen in jouw gemeente, dan kan de Nederlandse Frisbee Bond helpen. De investering moet gedragen worden door jouw gemeente of de eigenaar van het park. De Nederlandse Frisbee Bond heeft hierover kennis. Er zijn verschillende leveranciers in Nederland die Disc Golf doelen (Poleholes) verkopen. Bij hen kun je ook terecht voor informatie.
</section>


<section class="s-verenigingen cards">
    <div class="container">
        <div class="grid">
            <h2>Verenigingen</h2>
            <p>
            
                </p>
        </div>
        <div class="grid">
            
                {% assign clubs = site.data.clubs %}

                {% for club in clubs %}
                    {% if club[1].offers contains "discgolf" %}
                        {% include card-vereniging.html param=club %}
                    {% endif %}
                {% endfor %}
            

        </div>
    </div>
</section>
<section>