---
layout: page
categories: ultimate
---

<div class="home">

  <h1 class="page-heading">Play ultimate</h1>

  <ul class="post-list">
    {% assign clubs = site.data.clubs %}

    {% for club in clubs %}
      <li>
        <h2>
            
          <a class="post-link" href="{{ club[1].web }}">{{ club[1].name }}</a>
        </h2>
          {% if club[1].image %}
          <img src="{{ site.baseurl }}/assets/images/clubs/{{ club[1].image }}">
          {% endif %}
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
